version: '3.4'


networks:
  app-tier:
    driver: bridge

services:

    redis:
        container_name: redis
        restart: always  
        networks:
            - app-tier
        ports:
            - "6379:6379"

    orderdb:
        container_name: orderdb
        user: root
        networks:
            - app-tier
        ports:
            - "1433:1433"
        environment:
            SA_PASSWORD: "SwN12345678"
            ACCEPT_EULA: "Y"


    rabbitmq:
        container_name: rabbitmq
        restart: always
        networks:
            - app-tier
        ports:
            - "5672:5672"
            - "15672:15672" 


    cube_auction.api:
        container_name: cube_auctionapi
        restart: on-failure
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - "ConnectionStrings:OrderConnection=Server=orderdb;Database=OrderDb;User Id=sa;Password=SwN12345678"
            - "EventBus:HostName=rabbitmq"
        depends_on:
            - orderdb
            - rabbitmq 
        networks:
            - app-tier
        ports:
            - "8007:80"


    cube_bid.api:
        container_name: cube_bidapi
        restart: on-failure
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - "ConnectionStrings:Redis=redis:6379" #LD this replace "localhost" with the container name "redis" I have in appsettings
            - "EventBus:HostName=rabbitmq"
        depends_on:
            - redis
            - rabbitmq 
        networks:
            - app-tier
        ports:
            - "8008:80"



    #catalogdb:
    #    container_name: catalogdb
    #    restart: always
    #    volumes:
    #        - ./data:/data/db 
    #        #- ${WEBAPP_STORAGE_HOME}/site:/data/db
    #    ports:
    #        - "27017:27017"
            
    #ordering.api:
    #    container_name: orderingapi
    #    restart: on-failure
    #    environment:
    #        - ASPNETCORE_ENVIRONMENT=Development
    #        - "ConnectionStrings:OrderConnection=Server=orderdb;Database=OrderDb;User Id=sa;Password=SwN12345678"
    #        - "EventBus:HostName=rabbitmq"
    #    depends_on:
    #        - orderdb
    #        - rabbitmq 
    #    ports:
    #        - "8002:80"

    #basket.api:
    #    container_name: basketapi
    #    environment:
    #        - ASPNETCORE_ENVIRONMENT=Development
    #        - "ConnectionStrings:Redis=basketdb:6379" #LD replace "localhost" with the container name "basketdb"
    #        - "EventBus:HostName=rabbitmq" #we do point to the container "rabbitMQ"
    #    depends_on:
    #        - basketdb
    #        - rabbitmq
    #    volumes:
    #        - ./home/.microsoft/usersecrets/:/root/.microsoft/usersecrets
    #        - ./home/.aspnet/https:/root/.aspnet/https/
    #        #- ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets 
    #        #- ${HOME}/.aspnet/https:/root/.aspnet/https/ 
    #    ports:
    #        - "8001:80"

    #catalog.api:
    #    container_name: catalogapi
    #    environment:
    #        - ASPNETCORE_ENVIRONMENT=Development
    #        - "CatalogDatabaseSettings:ConnectionString=mongodb://catalogdb:27017" #LD we override "localhost"(where the image declare to run) with "catalogdb" that is the container name
    #    depends_on:
    #        - catalogdb
    #    volumes:
    #        #- ./home/.microsoft/usersecrets/:/root/.microsoft/usersecrets
    #        #- ./home/.aspnet/https:/root/.aspnet/https/
    #        - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets 
    #        - ${HOME}/.aspnet/https:/root/.aspnet/https/ 
    #    ports:
    #        - "8000:80"


    #apigateway:
    #    container_name: apigateway
    #    environment:
    #        - ASPNETCORE_ENVIRONMENT=Development
    #    depends_on:
    #        - catalog.api
    #        - basket.api
    #        - ordering.api
    #    volumes:
    #        #- ./home/.microsoft/usersecrets/:/root/.microsoft/usersecrets
    #        #- ./home/.aspnet/https:/root/.aspnet/https/
    #        - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets 
    #        - ${HOME}/.aspnet/https:/root/.aspnet/https/
    #    ports:
    #        - "7000:80"


    #aspnetrunbasics:
    #    container_name: aspnetrunbasics
    #    environment:
    #        - ASPNETCORE_ENVIRONMENT=Development
    #        - "ApiSettings:BaseAddress=apigateway"
    #    depends_on:
    #        - catalog.api
    #        - basket.api
    #        - ordering.api
    #        - apigateway
    #    volumes:
    #        - ./appdata/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
    #        - ./appdata/ASP.NET/Https:/root/.aspnet/https:ro
    #    ports:
    #        - "8003:80"


    #asecondconsumerld:
    #    container_name: asecondconsumerld
    #    environment:
    #        - ASPNETCORE_ENVIRONMENT=Development
    #        #- ASPNETCORE_URLS=https://+:443;http://+:80
    #        - "EventBus:HostName=rabbitmq"
    #    depends_on:
    #        - rabbitmq
    #    ports:
    #        - "8004:80"
    #    volumes:
    #        - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
